<p-card >
  <ng-template pTemplate="title">Connexion</ng-template>
  <ng-template pTemplate="content">
    <form #form="ngForm" (ngSubmit)="onSave()">
      <div class="p-fluid p-mb-3">
        <label for="email">Email</label>
        <input pInputText
               type="email"
               id="email"
               name="email"
               [(ngModel)]="editedAuth().email"
               required>
      </div>

      <div class="p-fluid p-mb-3">
        <label for="password">Mot de passe</label>
        <p-password
          id="password"
          name="password"
          [(ngModel)]="editedAuth().password"
          [feedback]="false"
          required>
        </p-password>
      </div>

      <div class="p-mt-3">
        <p-button type="submit"
                  [disabled]="!form.valid"
                  label="Enregistrer"
                  severity="success"
                  class="w-full"/>
      </div>
    </form>
  </ng-template>
</p-card>
